**/stockfish
**.tar
**.pptx
**.potx
api_key/**
**.gguf
**.csv
**.jsonl
/llama.cpp
/pretrained_cache
/.vscode
/training_data/chess_data
/training_data/lichess_database
/training_data/phase1
/training_data/phase2
/training_data/phase2_copy
/training_data/*.csv
/training_data/*.json
/training_data/*.txt
/training_data/cache
/training_data/processed_data
/base_model
/lora_adapter
/models
/hf_cache
/training_output
/evaluation_results
