# TODO: Update/reorganize this file, remove unused packages
transformers
accelerate
datasets
python-chess
stockfish
ctransformers
torch
openai
pandas
nltk
rouge-score
tqdm
bert-score
peft
bitsandbytes
numpy
PyQt5
